

.container {
    padding-top: 14rem;
    margin-right: 12px;
    margin-bottom: 20rem;
}

.Content-text {
    margin-bottom: 25px;
}

#content {
    margin-bottom: 15rem;
}


.navbar-nav :hover {
    text-decoration: underline;
}

.container-sm {
    margin-bottom: 50px;
}
